@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<style>
    .space{
        padding-top: 5px;
    }
</style>


<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

            @* An alert
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Congradulations</strong> You have successfully been registered.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            *@

            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating space">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="firstName" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating space">
                <input asp-for="Input.Surname" class="form-control" autocomplete="surname" aria-required="true" />
                <label asp-for="Input.Surname"></label>
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div class="form-floating space">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating space">
                <input asp-for="Input.CellularNum" class="form-control" autocomplete="cellularNum" aria-required="true" />
                <label asp-for="Input.CellularNum"></label>
                <span asp-validation-for="Input.CellularNum" class="text-danger"></span>
            </div>
            <div class="form-floating space">
                <input asp-for="Input.Age" class="form-control" autocomplete="age" aria-required="true" />
                <label asp-for="Input.Age"></label>
                <span asp-validation-for="Input.Age" class="text-danger"></span>
            </div>         
            <div class="form-floating space">
                <textarea asp-for="Input.Hobbies" class="form-control" autocomplete="hobbies" aria-required="true"></textarea>
                <label asp-for="Input.Hobbies"></label>
                <span asp-validation-for="Input.Hobbies" class="text-danger"></span>
            </div>
            <div class="form-floating space">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating space" style="padding-bottom:15px">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary" style="background:#6c009c">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>

            <!-- Modal/ Popup -->
            @*
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Congradulation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>You have successfully been registered.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            *@
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
